@import url('./_brief/description__two-columns_brief.css');
@import url('./_link/description__two-columns__link.css');
@import url('./_main-text/description__two-columns__main-text.css');
@import url('./_paragraph/description__two-columns__paragraph.css');
@import url('./_span-accent/description__two-columns__span-accent.css');

.description__two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
